<div class="flex flex-col min-h-screen">
    <!-- Fixed Navbar at the top -->
    <div class="w-full fixed top-0 z-50">
        <app-navbar></app-navbar>
    </div>
    
    <!-- Main content area with side-navbar -->
    <div class="flex flex-1 mt-20">
        <!-- Side navbar -->
        <div class="md:w-[240px]">
            <app-side-navbar></app-side-navbar>
        </div>
        
        <!-- Scrollable main content -->
        <div class="flex flex-1 p-4 overflow-y-auto ml-[60px] md:ml-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
